CRDSvcWS/src/webservice/CookieRetreiveDeleteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://drexel.edu.com/CRDS/v1" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://drexel.edu.com/CRDS/v1" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<types>
		<schema targetNamespace="http://drexel.edu.com/CRDS/v1" 
			xmlns="http://www.w3.org/2001/XMLSchema" 
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
			xmlns:tns="http://drexel.edu.com/CRDS/v1"  
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			

			<element name="getFireFoxCookiesRequest">
				<complexType>
					<sequence>
						<!-- <element ref="ch:WSHeader"/> -->
						<element name="BaseDomain">
							<simpleType>
								<restriction base="string">
									<minLength value="1"/>
									<maxLength value="100"/>
								</restriction>
							</simpleType>
						</element>
						
					</sequence>
				</complexType>
			</element>
			
			<element name="getFireFoxCookiesResponse">
				<complexType>
					<sequence>
						<element name="FireFoxCookiesList" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="ID" type="string" minOccurs="0"/>
									<element name="BaseDomain" type="string" minOccurs="0"/>
									<element name="Host" type="string" minOccurs="0"/>
									<element name="Name" type="string" minOccurs="0"/>
									<element name="Value" type="string" minOccurs="0"/>
									<element name="CreationTime" type="string" minOccurs="0"/>
									<element name="LastAccessed" type="string" minOccurs="0"/>
									<element name="Expiry" type="string" minOccurs="0"/>								
								</sequence>
							</complexType>
						</element>
						<element name="Exception" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="Error" type="string" minOccurs="0"/>
									<element name="Message" type="string" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						
					</sequence>
				</complexType>
			</element>
			
			<element name="exportFireFoxCookiesRequest">
				<complexType>
					<sequence>
					</sequence>
				</complexType>
			</element>
			
			<element name="exportFireFoxCookiesResponse">
				<complexType>
					<sequence>
						<element name="FireFoxCookiesReport" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="url" type="string" minOccurs="0"/>								
								</sequence>
							</complexType>
						</element>
						<element name="Exception" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="Error" type="string" minOccurs="0"/>
									<element name="Message" type="string" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						
					</sequence>
				</complexType>
			</element>
			
			<element name="deleteFireFoxCookiesRequest">
				<complexType>
					<sequence>
						<!-- <element ref="ch:WSHeader"/> -->
						<element name="BaseDomain">
							<simpleType>
								<restriction base="string">
									<minLength value="1"/>
									<maxLength value="100"/>
								</restriction>
							</simpleType>
						</element>
						
					</sequence>
				</complexType>
			</element>
			
			<element name="deleteFireFoxCookiesResponse">
				<complexType>
					<sequence>
						<element name="Status" type="string" minOccurs="0"/>
						<element name="NumberOfRowsDeleted" type="string" minOccurs="0"/>
						<element name="Exception" minOccurs="0" maxOccurs="1">
							<complexType>
								<sequence>
									<element name="Error" type="string" minOccurs="0"/>
									<element name="Message" type="string" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						
					</sequence>
				</complexType>
			</element>
			
		</schema>
	</types>
	<message name="getFireFoxCookiesRequest">
		<part name="getFireFoxCookiesRequest" element="tns:getFireFoxCookiesRequest"/>
	</message>
	<message name="getFireFoxCookiesResponse">
		<part name="getFireFoxCookiesResponse" element="tns:getFireFoxCookiesResponse"/>
	</message>
	
	<message name="exportFireFoxCookiesRequest">
		<part name="exportFireFoxCookiesRequest" element="tns:exportFireFoxCookiesRequest"/>
	</message>
	<message name="exportFireFoxCookiesResponse">
		<part name="exportFireFoxCookiesResponse" element="tns:exportFireFoxCookiesResponse"/>
	</message>
	
	<message name="deleteFireFoxCookiesRequest">
		<part name="deleteFireFoxCookiesRequest" element="tns:deleteFireFoxCookiesRequest"/>
	</message>
	<message name="deleteFireFoxCookiesResponse">
		<part name="deleteFireFoxCookiesResponse" element="tns:deleteFireFoxCookiesResponse"/>
	</message>
	
	
	<portType name="CRDSPortType">
		<operation name="getFireFoxCookies">
			<input message="tns:getFireFoxCookiesRequest"/>
			<output message="tns:getFireFoxCookiesResponse"/>
			<!-- <fault name="WSException" message="tns:WSException"/> -->
		</operation>
		<operation name="exportFireFoxCookies">
			<input message="tns:exportFireFoxCookiesRequest"/>
			<output message="tns:exportFireFoxCookiesResponse"/>
			<!-- <fault name="WSException" message="tns:WSException"/> -->
		</operation>
		<operation name="deleteFireFoxCookies">
			<input message="tns:deleteFireFoxCookiesRequest"/>
			<output message="tns:deleteFireFoxCookiesResponse"/>
			<!-- <fault name="WSException" message="tns:WSException"/> -->
		</operation>
	</portType>
	<binding name="CRDSSoapHttpBinding" type="tns:CRDSPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getFireFoxCookies">
			<soap:operation soapAction="getFireFoxCookies" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<!-- <fault name="WSException">
				<soap:fault name="WSException" use="literal"/>
			</fault> -->
		</operation>
		<operation name="exportFireFoxCookies">
			<soap:operation soapAction="exportFireFoxCookies" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<!-- <fault name="WSException">
				<soap:fault name="WSException" use="literal"/>
			</fault> -->
		</operation>
		<operation name="deleteFireFoxCookies">
			<soap:operation soapAction="deleteFireFoxCookies" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<!-- <fault name="WSException">
				<soap:fault name="WSException" use="literal"/>
			</fault> -->
		</operation>
	</binding>
	<service name="CRDSService">
		<port name="CRDSSoapHttpPort" binding="tns:CRDSSoapHttpBinding">
			<soap:address location="http://localhost:7001/CookieRetreiveDeleteServiceImpl"/>
		</port>
	</service>
</definitions>
